@font-face {
  font-family: "BYekan";
  src: url("./assets/font/BYekan-webfont.eot") format("eot"), url("./assets/font/BYekan-webfont.woff") format("woff"), url("./assets/font/BYekan-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

*{
  margin: 0;
  padding: 0;
  direction: rtl;
  font-family: BYekan;
}

body{
  background: linear-gradient(90deg, rgb(239, 74, 74) 0%, rgb(111, 106, 106) 100%);
}

.header {
  background: no-repeat url('./assets/image/image.jpg');
  background-size: cover;
  width: 100%;
  height: 300px;
}

.item-wrapper {
  background-color: rgba(98, 83, 83, 0.8);
  transform: translateY(-70px);
  
}

.item-wrapper li {
  background-color: rgb(226, 214, 198);
}

.btn {
  background: rgb(215, 122, 122);
}

.pointer {
  cursor: pointer;
}